<div class="container">
  <div class="bg-primary text-white m-5 p-4 my-4 rounded">
    <h3>Tambah Produk</h3>
  </div>
  <div class="card m-5 my-2 p-5">

    <form [formGroup]="productForm">
      <div class="form-group py-2">
        <label for="stock" class="my-2">Gambar</label>
        <img src="{{ gambar }}" alt="" class="d-block mb-2" width="40%"/>
        <input
          type="text"
          class="form-control"
          (input)="setGambar($event)"
          placeholder="Enter url image"
          formControlName="url_image"
        />
      </div>

      <div class="form-group py-2">
        <label for="Name">Nama Produk</label>
        <input
          type="text"
          class="form-control"
          id="name"
          aria-describedby="name"
          placeholder="Enter name product"
          name="name"
          formControlName="name"
        />
      </div>

      <div class="form-group py-2">
        <label for="Name">Deskripsi</label>
        <input
          type="text"
          class="form-control"
          id="description"
          aria-describedby="description"
          placeholder="Enter description product"
          name="description"
          formControlName="description"
        />
      </div>

      <div class="form-group py-2">
        <label for="Name">Kategori</label>
        <select
          class="form-select"
          formControlName="category_id"
          aria-label="Default select example"
        >
          <option selected disabled value="">Pilih Kategori</option>
          <option *ngFor="let data of categoryList" value="{{ data.id }}">
            {{ data.name }}
          </option>
        </select>
      </div>

      <div class="form-group py-2">
        <label for="stock">Stock</label>
        <input
          type="number"
          class="form-control"
          id="name"
          aria-describedby="stock"
          placeholder="0"
          name="stock"
          formControlName="stock"
        />
      </div>
      <div class="form-group py-2">
        <label for="stock">Harga</label>
        <input
          type="number"
          class="form-control"
          id="price"
          aria-describedby="price"
          placeholder="Rp. "
          name="price"
          formControlName="price"
        />
      </div>

      <button type="button" class="btn btn-primary mt-2" (click)="save()">
        Simpan
      </button>
    </form>
  </div>
</div>
